 #helloCosmo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1920px; /* full screen */
    height: 1080px;
    font-size: 150px;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    z-index: 9999; /* above all content */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.2s, opacity 0.3s;
  }

  #helloCosmo:active {
    transform: translate(-50%, -50%) scale(0.95); /* pressed effect */
  }

:root {
  --face-color: rgb(0, 0, 0);
  --face-height: 100vh;
  --face-width: 100vw;
  --eye-size: 30vmin;
  --eye-color: rgb(255, 255, 255);
  --eyelid-color: rgb(0, 0, 0);
  --mouth-color: rgb(255, 255, 255);
}

body {
  background-color: rgb(0, 0, 0);
  margin: 0px;
}

.buttons {
  position: relative;
  z-index: 3;
}

.face {
  background-color: var(--face-color);
  margin: auto;
  height: var(--face-height);
  width: var(--face-width);
  position: relative;
  overflow: hidden;
}

.face div {
  position: absolute;
}

.eye {
  background-color: var(--eye-color);
  border-radius: 100%;
  height: var(--eye-size);
  width: var(--eye-size);
  bottom: calc(var(--eye-size) / 0.65);
  z-index: 1;
  transform: rotateX(0);
}

.eye.left {
  left: calc(var(--eye-size) / 1.5);
}

.eye.right {
  right: calc(var(--eye-size) / 1.5);
}

.eyelid {
  background-color: var(--eyelid-color);
  height: var(--eye-size);
  width: calc(var(--eye-size) * 1.75);
  z-index: 2;
  transform: rotate(0deg);
}

.eyelid.upper {
  bottom: calc(var(--eye-size) * 1);
  left: calc(var(--eye-size) * -0.375);
}

.eyelid.lower {
  border-radius: 100%;
  bottom: calc(var(--eye-size) * -1);
  left: calc(var(--eye-size) * -0.375);
}

.mouth {
  position: absolute;
  bottom: 13%; /* distance from bottom, adjust */
  width: 35vmin;
  height: 30vmin;
  border-bottom: 7vmin solid var(--mouth-color); /* mounth thickness */
  border-radius: 0 0 0% 0%; /* can be set to: 0 0 20% 20%, to add curves on mouth*/
  transform: translateX(-50%); /* will center based on resize*/
}